* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.section1 {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}
.container {
    width: 750px;
    margin: 20px;
}
.header-image {
    min-height: 400px;
    min-width: 850px;
}
.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 20px;
}
.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
}
button {
    background: #3882f6;
    color: white;
    border: none;
    margin: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.information {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 25px;
    flex-wrap: wrap;
}
.content {
    max-width: 200px;
}
.content, img {
    max-width: 250px;
}
.content .text {
    text-align: center;
}

.inspiration {
    background: #e5e7eb;
    display: flex;
    flex: 1;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    flex-direction: column;
    padding: 30px;
}
.quote {
    margin-bottom: 25px;
}

.action {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.modal {
    background: #3882f6;
    border: 3px solid #3882f6;
    border-width: 30px;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 18px;
}
.action-title {
    font-size: 25px;
    color: white;
}
.action-subtext {
    font-size: 15px;
    color: white;
}
button {
    display: flex;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.footer {
    display: flex;
    background: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
