* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.section1 {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    flex-direction: column;
}
.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background: #3882f6;
    color: white;
    border: none;
}

.information {
    display: flex;
    flex: 1;
}
.quote {
    display: flex;
    flex: 1;
}
.action {
    display: flex;
    flex: 1;
}
.footer {
    display: flex;
    flex: 1;
}
